<div class="container">
  <div class="row">
    <div class="span12">
      <%= link_to 'New Candidate', '#newCandidateModal', class:'btn pull-right', data: {toggle:'modal'} %>
      <h4 class="header">Candidates</h4>
      <% if !candidates.empty? %>
        <table class="table table-striped sortable">
          <tr>
            <th class="header">First Name</th>
            <th class="header">Last Name</th>
            <th class="header">Email</th>
            <th class="header">Status</th>
            <th class="header">Date Joined</th>
            <th class="header"></th>
          </tr>
        <% candidates.each do |candidate| %>
          <tr>
            <td><%= candidate.first_name %></td>
            <td><%= candidate.last_name %></td>
            <td><%= candidate.email %></td>
            <td>
              <% if candidate.confirmed? %>
                <span class="label label-success">Active</span>
              <% else %>
                <span class="label">Inactive</span>
              <% end -%>
            </td>
            <td><%= candidate.invitation_accepted_at.strftime('%Y-%m-%d') if candidate.confirmed? %></td>
            <td>
              <div class="btn-group">
                <%= link_to 'Show', candidate_path(candidate), class:"btn" %>
                <button data-toggle="dropdown" class="btn dropdown-toggle"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li>
                    <%= link_to 'Edit', edit_candidate_path(candidate) %>
                    <a href="#">Destroy</a>
                  </li>
                </ul>
              </div>

              <div class="btn-group">
                <%= link_to "Invite", candidate_invite_path(candidate), class:"btn #{'disabled' if candidate.confirmed?}" %>
                <button data-toggle="dropdown" class="btn dropdown-toggle"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li>
                    <a href="#">Approve</a>
                    <a href="#">Disable Account</a>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
        <% end -%>
        </table>
      <% else %>
        <div class="alert alert-info">Not Candidates yet.</div>
      <% end -%>
    </div>
  </div>
</div>

<%= render 'candidates/modals/newCandidateModal' %>
