<h1><%= "#{candidate.first_name} #{candidate.last_name}" %></h1>
<%= link_to candidate.email, "mailto:#{candidate.email}" %> <br>

<%= link_to "Candidate's CV", candidate.cv_file.url %> <br>

<h2>Actions</h2>
<% if candidate.candidate_actions %>
  <ul>
    <% candidate.candidate_actions.each do |action| %>
    <li><%= action.description %></li>
    <% end -%>
  </ul>
<% end -%>
<%= link_to 'Training Programs',
    candidate_training_programs_path(candidate) %>

<%= link_to "Register a new action", "/candidates/#{candidate.id}/actions/new" %>
