<%= form_for candidate_action, url: candidate_candidate_actions_path,
             html: { class:'form-horizontal' } do |f| %>
  <%= render 'shared/error_messages', model: candidate_action %>

  <div class="control-group">
    <%= f.label :category_name, class:'control-label' %>
    <div class="controls">
      <%= f.text_field :category_name %></div>
  </div>

  <div class="control-group">
    <%= f.label :description, class:'control-label' %>
    <div class="controls">
      <%= f.text_area :description %></div>
  </div>

  <div class="control-group">
    <div class="controls">
      <%= f.submit "Register", class:'btn' %>
    </div>
  </div>
<% end %>
