<%= form_for candidate_action, url: candidate_candidate_actions_path do |f| %>
  <%= render 'shared/error_messages', model: candidate_action %>

  <div><%= f.label :category_name %><br />
  <%= f.text_field :category_name %></div>

  <div><%= f.label :description %><br />
  <%= f.text_area :description %></div>

  <div><%= f.submit "Register" %></div>
<% end %>
