<!DOCTYPE html>
<html>
<head>
  <title>Incorporacion</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/main_nav_bar' %>
<div class="container">
  <div class="row">
    <div class="span6 offset2">
      <div class="login">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
      </div>
    </div>
  </div>
</div>

</body>
</html>
